h1 {
	color: indigo;
	text-align: center;
}

body {
	background-color: moccasin;
	
}

td{
	background-color: lightskyblue;
	align-content: center;
	
}

img {
	align-content: center;
}

tr {
	box-align: center;
	
